@charset "UTF-8";
.gallery-link,
.filter-btn,
.footer-input:placeholder,
.footer-soc-icon,
.footer-soc-link,
.test-soc-icon,
.test-link,
.team-soc-link,
.team-soc-icon,
.modal-coment,
.modal-input,
.modal-icon,
.modal-close-icon,
.btn--hero {
  -webkit-transition-duration: var(--trans-time);
  transition-duration: var(--trans-time);
  -webkit-transition-timing-function: var(--tnas-funct);
  transition-timing-function: var(--tnas-funct);
}

/* color */
/* основний колір тексту  #757575;*/
/* допоміжний колір тексту #212121*/
/* акцент bgc : #2F303A*/
/* акцент тексту #2196F3; */
/* основний колір фону  #FFFFFF */
/* допоміжний колір фону #F5F4FA */
/* rgba(255, 255, 255, 0.6); */

:root {
  --primary-background-color: #ffffff;
  --second-backgraund-color: #f5f4fa;
  --accent-bgc: #2f303a;
  --primary-text: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-btn: #188ce8;
  --text-black: #000000;
  --link-color: rgba(255, 255, 255, 0.6);
  --list-color: #eeeeee;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --header-linr: #ececec;
  --bcg-icon: #afb1b8;
  --trans: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-time: 250ms;
  --tnas-funct: cubic-bezier(0.4, 0, 0.2, 1);
  --overl: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-background-color);
  font-size: 14px;
  color: var(--second-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primary-background-color);
  background: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
  box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  margin: 0 auto;
}

.btn--hero {
  min-width: 200px;
  padding: 10px 24px;
  -webkit-transition-property: backgraund-color, dorder-radius, -webkit-box-shadow;
  transition-property: backgraund-color, dorder-radius, -webkit-box-shadow;
  transition-property: backgraund-color, box-shadow, dorder-radius;
  transition-property: backgraund-color, box-shadow, dorder-radius, -webkit-box-shadow;
}

.btn--hero:hover,
.btn--hero:focus {
  background: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
  box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .btn--hero {
    min-width: 200px;
    padding: 10px 24px;
  }
}
@media screen and (min-width: 768px) {
  .btn--hero {
    min-width: 200px;
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .btn--hero {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.btn--footer {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.logo__type {
  color: var(--accent-text-color);
}

.navigation__logo {
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo--header {
  color: var(--text-black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo--footer {
  color: var(--primary-background-color);
  display: inline-block;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 480px) {
  .section-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

/* --- Modal --- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  -webkit-transition: opacity var(--trans-time) var(--tnas-funct),
    visibility var(--trans-time) var(--tnas-funct);
  transition: opacity var(--trans-time) var(--tnas-funct),
    visibility var(--trans-time) var(--tnas-funct);
}

.modal {
  padding: 40px;
  background: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(1);
  transform: translate(-50%, -50%) scaleY(1);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
@media screen and (max-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    max-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0);
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--accent-text-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.modal-input:focus {
  border-color: var(--accent-text-color);
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text);
  opacity: 0.9;
}

.modal-coment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.modal-coment:focus {
  border-color: var(--accent-text-color);
}

.modal-coment:placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment-wrap {
  margin-bottom: 20px;
}

.form-btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  background: var(--accent-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .label {
    text-align: left;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 480px) {
  .label {
    text-align: left;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .label {
    text-align: left;
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-link {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--accent-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}
@media screen and (max-width: 480px) {
  .check-link {
    text-align: left;
    font-size: 12px;
    line-height: 1.1666666667;
    margin-left: 5px;
  }
}

.modal-checked {
  margin-bottom: 30px;
}

.checked-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-text-color);
  border-radius: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 7px;
}

.checkbox:focus + .checked-icon {
  border-color: var(--accent-text-color);
}

.checkbox:checked + .checked-icon {
  background-image: url(../images/checked/icon-check.svg);
  background-color: var(--accent-text-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-text-color);
}

/* --- HEADER --- */
.header {
  background: var(--primary-background-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-linr);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  display: none;
  gap: 50px;
}

.menu .link.current {
  color: var(--accent-text-color);
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  .menu .link.current {
    color: var(--accent-text-color);
    position: relative;
  }
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 0;
  display: block;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.current::after {
  background-color: var(--accent-text-color);
  border-radius: 2px;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  display: block;
  bottom: 0;
}

.header__contact {
  display: none;
  margin-left: auto;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: block;
    margin-left: auto;
    gap: 50px;
  }
}

.contact__list {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}
@media screen and (min-width: 758px) {
  .contact__list {
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 21px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
    margin: 0;
  }
}

.contact__mail,
.contact__tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}

.contact__mail:hover,
.contact__mail:focus,
.contact__tel:hover,
.contact__tel:focus {
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .contact__mail,
  .contact__tel {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__mail,
  .contact__tel {
    padding: 32px 0;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.icon-menu {
  fill: var(--text-black);
}

.menu-open {
  border: none;
  background-color: transparent;
  outline: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu-close {
  border: none;
  background-color: transparent;
  outline: transparent;
  position: absolute;
  margin-left: auto;
  display: block;
  top: 10px;
  right: 15px;
}

.mob-menu-close:focus {
  fill: var(--accent-text-color);
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  top: 0;
  position: fixed;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mob-menu > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu.container {
  position: relative;
  padding-top: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-list {
  margin-bottom: 64px;
  display: block;
}

.mob-menu-item:not(:last-child) {
  display: block;
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: block;
}

.mob-menu-link:focus {
  color: var(--accent-text-color);
}
@media screen and (max-width: 480px) {
  .mob-menu-link {
    font-size: 34px;
  }
  .mob-menu-link.mob-current {
    color: var(--accent-text-color);
  }
}
@media screen and (max-width: 768px) {
  .mob-menu-link.mob-current {
    color: var(--accent-text-color);
  }
}

.mob-contact-item {
  margin-bottom: 32px;
}

.mob-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}
@media screen and (max-width: 480px) {
  .mob-contact-mail {
    font-size: 24px;
  }
}

.mob-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
@media screen and (max-width: 479px) {
  .mob-contact-tel {
    font-size: 24px;
  }
}

.mob-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.mob-soc-item:not(:last-child)::after {
  content: '';
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
@media screen and (max-width: 479px) {
  .mob-soc-link {
    font-size: 11px;
  }
}

/* --- hero --- */
.hero {
  background-color: var(--accent-bgc);
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/hero-bg-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 60px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-bg-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-bg-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-bg-tab-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-bg-desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-desk.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero-bg-desk-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-desk-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 698px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* --- FEATURE --- */
.feature__icon {
  height: 120px;
  background-color: var(--second-backgraund-color);
  border-radius: 4px;
  display: block;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .feature__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.feature__list,
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

.featute__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}

.feature__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
  }
}

/* --- WORK --- */
.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    visibility: visible;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-title-wrapper {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
}

/* --- TEAM --- */
.team {
  background: var(--second-backgraund-color);
}

.team-item {
  background: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text);
  margin-bottom: 16px;
}

.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-icon {
  fill: var(--bcg-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.team-soc-link:hover .team-soc-icon {
  fill: var(--primary-background-color);
}
.team-soc-link:focus .team-soc-icon {
  fill: var(--primary-background-color);
}

.team-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  /* background: tomato; */
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-text-color);
}

/* --- Clients --- */
.test-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

.test-item {
  height: 90px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .test-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .test-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .test-item {
    width: calc((100% - 150px) / 6);
  }
}

.test-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--bcg-icon);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-property: border;
  transition-property: border;
}
.test-link:hover,
.test-link:focus {
  border: 1px solid var(--accent-text-color);
}

.test-soc-icon {
  fill: var(--bcg-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.test-link:hover .test-soc-icon {
  fill: var(--accent-text-color);
}
.test-link:focus .test-soc-icon {
  fill: var(--accent-text-color);
}

/* --- FOOTER --- */
.footer {
  background: var(--accent-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .footer-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .footer-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    text-align: left;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    max-width: 510px;
  }
  .footer-tablet.container {
    padding: 0;
  }
}

.contacts,
.container-socials {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contacts,
  .container-socials {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts,
  .container-socials {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.footer-item:not(:last-child) {
  font-style: normal;
  margin-bottom: 9px;
}

.footer-item-link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.footer-mail-link,
.footer-tel-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.footer-mail-link:hover,
.footer-mail-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--accent-text-color);
}

.adress-title {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

/* --- Footer-Socials --- */
.socials {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-property: backgraund-color;
  transition-property: backgraund-color;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-text-color);
}

.footer-soc-icon {
  fill: var(--primary-background-color);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.footer-soc-link:hover .footer-soc-icon {
  fill: var(--primary-background-color);
}
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--primary-background-color);
}

/* --- Form Footer --- */
.footer-btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: var(--primary-background-color);
  background: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .container-form {
    text-align: left;
  }
}

.footer-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .footer-form-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
}

.footer-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.footer-label-wrap {
  margin-bottom: 20px;
}

.footer-input {
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  outline: transparent;
}
.footer-input:focus {
  border-color: var(--accent-text-color);
}
.footer-input:placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: border-color;
  transition-property: border-color;
}
@media screen and (max-width: 480px) {
  .footer-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    min-width: 358px;
  }
}

/* --- Portfolio-Filter --- */
.filter-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--second-backgraund-color);
  border-radius: 4px;
  border: 4px solid transparent;
  min-width: 73px;
  padding: 6px 25px;
  display: block;
  -webkit-transition-property: color, backgraund-color, -webkit-box-shadow;
  transition-property: color, backgraund-color, -webkit-box-shadow;
  transition-property: color, backgraund-color, box-shadow;
  transition-property: color, backgraund-color, box-shadow, -webkit-box-shadow;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --- GALLERY --- */
.gallery-list a {
  text-decoration: none;
}

.gallery-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.title {
  min-width: 322px;
  margin-bottom: 4px;
}

.gallery-list .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.gallery-top-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background-color: var(--overl);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  overflow: auto;
}
.gallery-link:hover .gallery-top-text {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.gallery-item {
  background: var(--primary-background-color);
  border: 1px solid var(--list-color);
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-list p.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}

.gallery-item {
  width: calc((100% - 60px) / 3);
}

.gallery-link {
  display: block;
  -webkit-transition-property: box-shasow;
  transition-property: box-shasow;
}
.gallery-link:hover,
.gallery-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
